<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Actions</title>
</head>
<body>
<h2>Выберите действие, которое хотите совершить с пользователем.</h2>
<br/>
<a th:href="@{/user/{id}/update(id=${id})}">Обновить данные</a>
<br/>
<a th:href="@{/user/{id}/animal(id=${id})}">Закрепить животное</a>
<br/>
<a th:href="@{/user/{id}/time(id=${id})}">Увеличить испытательный срок</a>
<br/>
<a th:href="@{/user/{id}/probation(id=${id})}">Завершить испытательный срок</a>
<br/>
<a th:href="@{/user/{id}/reports(id=${id})}">Посмотреть отчёты</a>
<br/>
<br/>
<a href="/">Вернуться в главное меню</a>
</body>
</html>