<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<h2>Отчёт пользователя:</h2>
<body>
<form th:method="POST" th:action="@{/user/{id}/update_report/(id=${id})}" th:object="${report}">
    <input type="hidden" th:value="${report.getId()}" name="report_id"/>
        <img th:src="${'/' + report.getPhotoPath()}" alt="Фото не представлено" width="500" height="auto" style="float: left; margin-right: 10px;">
        <h3 th:text="${text}"></h3>
        <button type="submit" name="button" value="pass">Подтвердить отчёт</button>
        <button type="submit" name="button" value="fail">Уведомить пользователя о плохом отчёте</button>
</form>
</body>
</html>