<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find user</title>
</head>
<body>
<h2>Здесь вы можете найти пользователя по User Name или выбрать в списке.</h2>
<br/>
<form method="post" action="/user/receive">
    <label for="userName">Введите User Name:</label>
    <input id="userName" type="text" name="userName"/>
    <br/>
    <br/>
    <label for="user">Выберите пользователя:</label>
    <select th:name="user_id" id="user" th:object="${user}">
        <option value="-1" text=" "></option>
        <option th:each="user : ${users}" th:value="${user.getId()}" th:text="${user.getFullName() + ' -- @' + user.getUserName()}"></option>
    </select>
    <br/>
    <br/>
    <input type="submit" value="Подтвердить"/>
</form>

</body>
</html>