<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Main menu</title>

</head>
<body>
<h2>Отсюда вы можете попасть в любой, интересующий вас раздел</h2>
<br/>
<h4>Выберете пункт меню:</h4>
<a href="animal/menu">Перейти в панель управления животными</a>
<br/>
<br/>
<a href="user/menu">Перейти в панель управления пользователями</a>
<br/>
<br/>
<a href="volunteer/menu">Перейти в панель управления волонтёрами</a>
<br/>
<br/>
<a href="storage/menu">Перейти в панель управления хранилищем</a>
<br/>
<br/>
<a href="report/menu">Просмотреть отчёты пользователей</a>
<br/>
</body>
</html>


















